.Navigation {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.NavItem {
  min-width: 80px;
  text-align: center;
  padding: 5px;
}

.MainItem {
  border: solid 1px;
}
