.BookCard {
  padding: 15px !important;
  border-radius: 5px;
}
.BookCard > div {
  height: 100%;
  text-align: initial;
}
.BookCard .Title {
  height: 30%;
  text-align: center;
}
.BookCard .Text {
  height: 70%;
  padding: 10px;
  text-align: center;
}
