/* Main color */
.MainGradient {
  background: linear-gradient(
    90deg,
    rgba(29, 31, 38, 1) 20%,
    rgba(64, 72, 87, 1) 65%,
    rgba(100, 145, 198, 1) 99%
  );
}
.MainColor {
  background-color: #5e77f2 !important;
}
.MainColorText {
  color: #313338 !important;
}
.MainBody {
  background-color: #f4f5fa !important;
}
.MainBody2 {
  background-color: white !important;
}

/* 

===Color Guide===

Title     100
SubTitle  80
Body      60
SubBody   40
Extra     20
Disabled  5

*/

/* text */
.Color100 {
  color: #313338 !important;
}
.Color80 {
  color: #282828 !important;
}
.Color60 {
  color: #757575 !important;
}
.Color40 {
  color: #bdbdbd !important;
}
.Color20 {
  color: #cdcdcd !important;
}
.Color5 {
  color: #f4f5fa !important;
}

/* background */
.Back100 {
  background-color: #313338 !important;
}
.Back80 {
  background-color: #282828 !important;
}
.Back60 {
  background-color: #757575 !important;
}
.Back40 {
  background-color: #bdbdbd !important;
}
.Back20 {
  background-color: #cdcdcd !important;
}
.Back10 {
  background-color: #f0f0f2 !important;
}
.Back5 {
  background-color: #f4f5fa !important;
}

/* border */
.Border100 {
  border-color: #313338 !important;
}
.Border80 {
  border-color: #282828 !important;
}
.Border60 {
  border-color: #757575 !important;
}
.Border40 {
  border-color: #bdbdbd !important;
}
.Border20 {
  border-color: #cdcdcd !important;
}
.Border5 {
}

/* label */
label {
  cursor: inherit;
}
