/* Main color */
.MainGradient {
  background: linear-gradient(
    90deg,
    rgba(29, 31, 38, 1) 20%,
    rgba(64, 72, 87, 1) 65%,
    rgba(100, 145, 198, 1) 99%
  );
}
.MainColor {
  background-color: #1976d2 !important;
}
.MainColorText {
  color: white;
}
.MainBody {
  background-color: white !important;
}

/* 

===Color Guide===

Title     100
SubTitle  80
Body      60
SubBody   40
Extra     20
Disabled  5

*/

/* text */
.Color100 {
  color: #131313 !important;
}
.Color80 {
  color: #282828 !important;
}
.Color60 {
  color: #757575 !important;
}
.Color40 {
  color: #bdbdbd !important;
}
.Color20 {
}
.Color5 {
}

/* background */
.Back100 {
  background-color: #131313 !important;
}
.Back80 {
  background-color: #282828 !important;
}
.Back60 {
  background-color: #757575 !important;
}
.Back40 {
  background-color: #bdbdbd !important;
}
.Back20 {
}
.Back5 {
}

/* border */
.Border100 {
  border-color: #131313 !important;
}
.Border80 {
  border-color: #282828 !important;
}
.Border60 {
  border-color: #757575 !important;
}
.Border40 {
  border-color: #bdbdbd !important;
}
.Border20 {
}
.Border5 {
}

/* button:hover */
.Button:hover,
.RoundButton:hover {
  background-color: #ffffff26 !important;
}
.ButtonDarken:hover,
.RoundButtonDarken:hover {
  background-color: #81889940 !important;
}
