.Login {
  display: contents;

  &__ID {
    grid-area: 4/5/4/9;
  }
  &__PassWord {
    grid-area: 5/5/5/9;
  }
  &__Maintain {
    grid-area: 6/7/6/9;
    text-align: right;
  }
  &__Find {
    grid-area: 6/5/6/9;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
  }
  &__Button {
    grid-area: 7/5/7/9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__B {
      all: unset;
      justify-content: center;
      width: 80px;
      padding: 5px;
      text-align: center;
    }
  }
}
