.Main {
  display: contents;
  &__Title {
    grid-area: 2/2/3/12;
    text-align: center;
  }

  &__Upload {
    grid-area: 4/3/5/11;
  }

  &__FileName {
    grid-area: 5/3/6/11;
  }

  &__Level {
    grid-area: 6/3/7/11;
  }

  &__Amount {
    grid-area: 7/3/8/11;
  }

  &__Category {
    grid-area: 8/3/9/11;
  }

  &__Setting {
    grid-area: 9/4/11/10;
    text-align: center;
  }

  &__Result {
    grid-area: 11/10/12/11;
    text-align: center;
  }
}

// .Main .Result .Button {
//   text-align: center;
// }
