.WordBook {
  display: contents;
  .TopLeft {
    border-top-left-radius: 50px 50px;
  }
  .TopRight {
    border-top-right-radius: 50px 50px;
  }
  .BottomLeft {
    border-bottom-left-radius: 50px 50px;
  }
  .BottomRight {
    border-bottom-right-radius: 50px 50px;
  }
}

.WordBook2 {
  display: contents;

  .BookCard {
    &:nth-child(1) {
      grid-area: 1/1/5/5;
    }
    &:nth-child(2) {
      grid-area: 1/5/5/9;
    }
    &:nth-child(3) {
      grid-area: 1/9/5/13;
    }
    &:nth-child(4) {
      grid-area: 5/1/9/5;
    }
    &:nth-child(5) {
      grid-area: 5/5/9/9;
    }
    &:nth-child(6) {
      grid-area: 5/9/9/13;
    }
    &:nth-child(7) {
      grid-area: 9/1/13/5;
    }
    &:nth-child(8) {
      grid-area: 9/5/13/9;
    }
    &:nth-child(9) {
      grid-area: 9/9/13/13;
    }
  }
}
